.original-bo {
  position: fixed;
  right: 70px;
  bottom: 70px;
  z-index: 9;
}
.bo-slak {
  height: 64px;
  width: 64px;
}
.bo-inc {
  height: 64px;
  width: 64px;
}
.bo-home {
  height: 64px;
  width: 64px;
  margin-left: 20px;
}
.original-bo:hover {
  box-shadow: 0 0 24px gold;
}
